<div class="body-content">
<!-- Main section -->
	<div class="container">
		<div class="hero">
			<div>
				<a href="https://moqa.moshaheen.com/Kaizen" target="_blank">
				<img src="/static/assets/img/moqa.png" alt="icon" class="iconImage"> 
				<h1 class="name"><strong>Kaizen</strong></h1>
			</a>
				<span class="job-title">Active</span>
			</div>
			
			<h2 class="lead">Welcome To Kaizen Template, <br/>Please feel free to explore below features.</h2>
		</div>
	</div>

<!-- Features section -->
	<div class="container cards">
		<h2 class="section-title">Features</h2>		

		<a href="/landing" target="_blank">
			<div class="card">
				<div class="skill-level">
					<span></span>
					<h2><img src="/static/assets/img/moqa2.png" alt="icon" class="contributorImage"></h2>
				</div>
				<div class="skill-meta">
					<h3>Landing</h3>
					<span>Landing Page (Home Page)</span>
				</div>
			</div>
		</a>

    <a href="/angular" target="_blank">
			<div class="card">
				<div class="skill-level">
					<span></span>
					<h2><img src="/static/assets/img/moqa2.png" alt="icon" class="contributorImage"></h2>
				</div>
				<div class="skill-meta">
					<h3>Angular</h3>
					<span>Angular Getting Started</span>
				</div>
			</div>
		</a>

    <a href="/admin" target="_blank">
			<div class="card">
				<div class="skill-level">
					<span></span>
					<h2><img src="/static/assets/img/moqa2.png" alt="icon" class="contributorImage"></h2>
				</div>
				<div class="skill-meta">
					<h3>Admin</h3>
					<span>Admin Application</span>
				</div>
			</div>
		</a>

		<a href="/posts" target="_blank">
			<div class="card">
				<div class="skill-level">
					<span></span>
					<h2><img src="/static/assets/img/moqa2.png" alt="icon" class="contributorImage"></h2>
				</div>
				<div class="skill-meta">
					<h3>Posts</h3>
					<span>Public Application</span>
				</div>
			</div>
		</a>

    <a href="/static" target="_blank">
			<div class="card">
				<div class="skill-level">
					<span></span>
					<h2><img src="/static/assets/img/moqa2.png" alt="icon" class="contributorImage"></h2>
				</div>
				<div class="skill-meta">
					<h3>Static Site</h3>
					<span>Static Landing Page</span>
				</div>
			</div>
		</a>

    <a href="/static/welcome.html" target="_blank">
			<div class="card">
				<div class="skill-level">
					<span></span>
					<h2><img src="/static/assets/img/moqa2.png" alt="icon" class="contributorImage"></h2>
				</div>
				<div class="skill-meta">
					<h3>Welcome</h3>
					<span>Static Navigation Sample</span>
				</div>
			</div>
		</a>

		<a href="/theme" target="_blank">
			<div class="card">
				<div class="skill-level">
					<span></span>
					<h2><img src="/static/assets/img/moqa2.png" alt="icon" class="contributorImage"></h2>
				</div>
				<div class="skill-meta">
					<h3>Theme</h3>
					<span>Theme (Not Implemented)</span>
				</div>
			</div>
		</a>

	</div>

	<br><br>
	<br><br>

<!-- Footer section -->
	<footer class="container">
		<span style="font-size: 16px; margin-top: 10px">Maintained by <a href="https://MoQa.MoShaheen.com/" target="_blank">MoQa </a></span>
	</footer>
</div>