////@import "src/assets/scss/colors";
$secondary-color: pink;

.row {
  margin-bottom: -25px;
}

.btn {
  color: $secondary-color;
  box-shadow: none;
  background-color: transparent;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 0.3rem;
}

.btn:hover {
  color: $secondary-color;
  background-color: rgba(240, 240, 240, 0.7);
}

.btn:active:hover,
.show > .btn.dropdown-toggle,
.show > .btn.dropdown-toggle:hover {
  color: $secondary-color;
  background-color: transparent;
  border-color: transparent;
}

li a:hover {
  color: $secondary-color;
  box-shadow: none;
  background-color: rgba(240, 240, 240, 0.7);
}
