@import '/src/assets/themes/colors.scss';


.copyright{
  right: 0;
  padding: 5px;
}

a {
  color: $accent-color;
}


.footer {
  position: fixed;
  bottom: 0;
  //left: 0;
  width:100%;
  border-top: 1px solid opacify($color: grey, $amount: 0.7);
}