//@import "src/assets/scss/colors";
$primary-color: pink;


.copyright{
  right: 0;
  padding: 5px;
}

a {
  color: $primary-color;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid opacify($color: grey, $amount: 0.7);
}