<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <dl class="row">
        <div class="col-12">
            <h3>{{data.message}}</h3>
        </div>
    </dl>
    <dl class="row">
        <dd class="col-12">
            <mat-dialog-actions>
                <button mat-button matDialogClose="close" class="cancel-color">{{data.cancel}}</button>
                <button mat-button matDialogClose="ok" class="submit-color">{{data.ok}}</button>
            </mat-dialog-actions>
        </dd>
    </dl>
</div>
