@import '/src/assets/themes/colors.scss';

.primary-text {
  color: $accent-color;
}

.background {
  padding: 5%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../assets/img/moqa.png");
  background-origin: content-box;
}

.card {
  box-shadow: none;
}

.cancel-color {
  background-color: $warn-color;
}
