<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-lg-2 offset-md-0 offset-sm-0 col-lg-8 col-md-12 col-sm-12">
                <mat-card>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-lg-7 background"></div>
                            <div class="col-lg-5 col-md-12 col-sm-12">
                                <form [formGroup]="registerForm" (ngSubmit)="register()">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <h3>Register</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <mat-form-field>
                                                                <mat-label>Username*</mat-label>
                                                                <input matInput formControlName="username" type="text">
                                                                <mat-error
                                                                        *ngIf="registerForm.controls.username.invalid">
                                                                    {{getErrorMessage('username')}}
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <mat-form-field>
                                                                <mat-label>Password*</mat-label>
                                                                <input matInput formControlName="password"
                                                                       [type]="hidePassword ? 'password' : 'text'">
                                                                <mat-icon matSuffix
                                                                          (click)="hidePassword = !hidePassword">
                                                                    {{hidePassword ? 'visibility_off' : 'visibility'}}
                                                                </mat-icon>
                                                                <mat-error
                                                                        *ngIf="registerForm.controls.password.invalid">
                                                                    {{getErrorMessage('password')}}
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <mat-form-field>
                                                                <mat-label>Email*</mat-label>
                                                                <input matInput formControlName="email" type="email">
                                                                <mat-error *ngIf="registerForm.controls.email.invalid">
                                                                    {{getErrorMessage('email')}}
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <button mat-raised-button color="accent" class="col-12 submit-color" mat-flat-button
                                                                    type="submit"
                                                                    [disabled]="!registerForm.valid">
                                                                Register
                                                            </button>
                                                        </div>
                                                        <div class="col-12 mt-2">
                                                            <a [routerLink]="['/login']">
                                                                <button mat-raised-button color="warn" class="col-12" mat-flat-button>
                                                                    Cancel
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
