<h1 mat-dialog-title>Update Item</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
    <div class="row" style="padding: 10px;">
        <div class="col-md-12">
            <form [formGroup]="updateForm">
                <mat-form-field appearance="fill">
                    <mat-label>Role</mat-label>
                    <input matInput formControlName="role" type="text">
                    <mat-error *ngIf="updateForm.controls.role.invalid">{{getErrorMessage('role')}}</mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>

<mat-divider></mat-divider>
<div class="col-md-12 align-right">
    <mat-dialog-actions>
        <button mat-raised-button color="warn" matDialogClose="cancel">cancel</button>
        <button mat-raised-button color="accent" type="submit" [matDialogClose]="updateForm"
            [disabled]="!updateForm.valid">
            Add
        </button>
    </mat-dialog-actions>
</div>
