@import '/src/assets/themes/colors.scss';

mat-progress-bar {
  z-index: 10;
  position: fixed;
}

@media (max-width: 1200px) {
  .hide-main-panel {
    display: none;
  }

  .show-main-panel {
    width: 100%;
  }

  .show-sidebar {
    width: 100% !important;
    // transition: all 0.5s ease;
  }

  .sidebar {
    top: 0;
  }
}





// @media (min-width: 1200px) {
//   .move-forward {
//     position: sticky;
//     top: 0;
//   }

//   .side-bar {
//     top: 0;
//   }
// }

// .sidebar {
//   position: sticky;
//   top: 64px;
// }

.wrapper {
  //overflow: auto;
  scrollbar-color: grey;
  scrollbar-width: thin;
  width: 100%;
  padding-bottom: 20px;
}
.nav{
  background: $accent-color;
  left: 0;
  position: relative;
  height: 70px;
  max-height: 70px;
  z-index: 5;
  box-shadow: 0px 3px rgba($color: #000000, $alpha: 0.3);
}
.wrapper .sidebar{
	// background: rgb(5, 68, 104);
  // background: $accent-color;
  // border-right: 1px solid opacify($color: grey, $amount: 0.7);
	position: fixed;
	top: 70px;
	left: 0;
	width: 225px;
	height: calc(100% - 100px);
	// transition: all 0.5s ease;
  box-shadow: 3px 0px rgba($color: grey, $alpha: 0.1);
}

.wrapper .main-panel{
	// transition: all 0.5s ease;
  padding: 10px;
}

.hide-main-panel{
  width: calc(100% - 225px);
	margin-left: 225px;
}

.show-main-panel{
  width: 100%;
  margin-left: 0px;
}

.footer{
  height: 20px;
}

.sidebar-trans{
  transition: all 0.5s ease;
}