<mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
<div class="wrapper">
    <app-navbar class="nav" [isMobile]="isMobileView" (showSidebar)="toggleSidebar()"></app-navbar>
    <div class="main-panel" [ngClass]="showSidebar && loginService.isLoggedIn() ? 'hide-main-panel' : 'show-main-panel'"
         [style.width]="!loginService.isLoggedIn() || !showSidebar ? '100%' : ''">
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="loginService.isLoggedIn()" [ngClass]="showSidebar ? 'show-sidebar' : ''" >
        <app-sidebar class="sidebar" *ngIf="showSidebar" (hideSidebarEvent)="toggleSidebar()"></app-sidebar>
    </div>
</div>
<app-footer class="footer"></app-footer>