@use '@angular/material' as mat;

@include mat.core();

$primary-palette: mat.define-palette(mat.$blue-palette);
$accent-palette: mat.define-palette(mat.$blue-grey-palette);
$warn-palette: mat.define-palette(mat.$deep-orange-palette);

$primary-color: mat.get-color-from-palette($primary-palette);
$accent-color: mat.get-color-from-palette($accent-palette);
$warn-color: mat.get-color-from-palette($warn-palette);

$success-color: #55b558a7;
$error-color: #d7232388;